<!--<ion-header>-->
<!--    <ion-toolbar>-->
<!--        <ion-title>Connexion</ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
    <div class="divPrincipal">
        <div>
            <div class="element-center">
                <ion-col>
                    <h1 class="ion-text-center cHTitle text-white">Connexion</h1>

                    <form id="form" #f="ngForm" (ngSubmit)="login(f.value)">
                        <div class="cBLarge">
                            <div class="cBass">
                                <br>
                                <div color="light" class="input-group">
                                    <ion-item lines="none" class="matItem text-white">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-white">Email</mat-label>
                                            <input matInput [(ngModel)]="loadData.login" type="text" name="login">
                                        </mat-form-field>
                                    </ion-item>
                                    <ion-item lines="none" class="matItem text-white">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-white">Mot de passe</mat-label>
                                            <input matInput [type]="hide ? 'password' : 'text'"
                                                   [(ngModel)]="loadData.motdepasse" name="motdepasse">
                                            <span mat-icon-button matSuffix (click)="hide = !hide"
                                                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>
                                        </span>
                                        </mat-form-field>
                                    </ion-item>
                                </div>
                                <div class="backBlack">
                                    <ion-row style="margin-left: 15px;font-size: 13px">
                                        <ion-col>
                                            <div routerLink="/forgot" class="text-dark">
                                                <span expand="block" class="text-white">Mot de passe oublié?</span>
                                            </div>
                                        </ion-col>
                                        <ion-col style="margin-right: 10px">
                                            <div routerLink="/change-password" class="text-dark">
                                                <span expand="block" class="text-white">Modifier le mot de passe?</span>
                                            </div>
                                        </ion-col>
                                    </ion-row>

                                    <div style="margin-right: 10px">
                                        <ion-button expand="block" color="myblue"
                                                    class="ion-margin-start ion-margin-end ion-margin-bottom" type="submit">
                                            Acceder à votre compte
                                        </ion-button>
                                    </div>
                                    <br>
                                    <div style="margin-right: 10px">
                                        <ion-button expand="block" fill="outline" color="myblue" (click)="onInscription()"
                                                    class="ion-margin-start ion-margin-end ion-margin-bottom">
                                            <span class="text-white">Je n'ai pas encore de compte</span>
                                        </ion-button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </form>
                </ion-col>
            </div>
        </div>
    </div>
</ion-content>
