<ion-content>


    <h2 class="text-center">Payer via <span style="color: #00BCD4;">Visa</span></h2>

    <div style="margin-top: 50px">
        <div style="margin-left: 15px;border: 1px solid black;margin-right: 10px">
            <ion-row>
                <ion-col size="8">
                    <br>
                    <span>Déclaration</span><br>
                    <br>
                    <b>
                        Certificat de l'urbanisation<br>l'urbanisme
                    </b>
                </ion-col>
                <ion-col size="4">
                    <br>
                    <div>
                        <span>Référence</span><br>
                        <br>
                        <b style="margin-top: 10px">
                            02002
                        </b>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div style="margin-left: 15px;border: 1px solid black;margin-right: 10px">
            <ion-row>
                <ion-col size="8">
                    <br>
                    <span>Montant</span><br>
                    <br>
                    <b>
                        15 500
                    </b>
                </ion-col>
                <ion-col size="4">
                    <br>
                    <div style="margin-right: 5px">
                        <span>Echéance</span><br>
                        <br>
                        <b>
                            24/02/2021
                        </b>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <br>

    <hr style="margin-right: 30px;margin-left: 30px;background: #00BCD4">


</ion-content>
