<ion-header [translucent]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-toolbar color="myblue">
        <ion-title style="font-size: 15px;">
            Bienvenue, Bassirou Diallo
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="text-white">
                <ion-icon name="notifications-outline" class="ionSizeSetting"></ion-icon>
            </ion-button>
            <ion-button class="text-white">
                <ion-icon name="cog-outline" class="ionSizeSetting" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="myblue">
        <ion-row class="sticky-row">
            <ion-col size="10">
                <ion-text class="ion-padding-start" color="medium"
                          [ngClass]="{'location-visible': showLocationDetail, 'location-hidden': !showLocationDetail}">
                </ion-text>
                <ion-searchbar placeholder="Votre recherche ici"></ion-searchbar>
            </ion-col>
            <ion-col size="2">
                <ion-button class="classButom text-white" fill="clear">
                    <ion-icon class="tailleIcon" name="options-outline" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>

</ion-header>
