<ion-content>
    <div style="margin-top: 30px;margin-left: 10px">
        <ion-row>
            <ion-col><h4><b>Devis de Adama Yade</b></h4></ion-col>
            <ion-col>
            <span>
                N° Dossier
            </span>
                <br>
                <span style="color: #00ACFF">
                    205
                </span>
            </ion-col>
            <ion-col>
            <span>
                Frais Dossier
            </span>
                <span style="color: #00ACFF">
                    5000
                </span>
            </ion-col>
        </ion-row>

        <ion-row style="margin-right: 12px">
            <ion-col>
                <div style="background: #e7e7e7; border-radius: 5px" class="text-center">
                    <ion-icon name="person-outline"></ion-icon>
                    <br>
                    <span><b>Aliou</b></span>
                </div>
            </ion-col>
            <ion-col>
                <div style="background: #e7e7e7; border-radius: 5px" class="text-center">
                    <ion-icon name="home-outline"></ion-icon>
                    <br>
                    <span>
                        <b>Liberté 1</b>
                    </span>
                </div>
            </ion-col>
            <ion-col>
                <div style="background: #e7e7e7; border-radius: 5px" class="text-center">
                    <ion-icon name="call-outline"></ion-icon>
                    <br>
                    <span>
                        <b>
                            77552333
                        </b>
                    </span>
                </div>
            </ion-col>
        </ion-row>

        <br>

        <ion-row>
            <ion-col>
                <b>Libellé</b>
            </ion-col>
            <ion-col>
                <b>Devis pole</b>
            </ion-col>
            <ion-col>
                <b>Devis Gainde</b>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <span>Bon à déliver <br>Compagnie</span>
            </ion-col>
            <ion-col>
                <span>75000</span>
            </ion-col>
            <ion-col>
                <span>10000</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <span>Visa PAD</span>
            </ion-col>
            <ion-col>
                <span>15000</span>
            </ion-col>
            <ion-col>
                <span>2000</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <span>Bon à déliver <br>manutentionnaire</span>
            </ion-col>
            <ion-col>
                <span>75000</span>
            </ion-col>
            <ion-col>
                <span>10000</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <span>Bon sortie <br>douane</span>
            </ion-col>
            <ion-col>
                <span>75000</span>
            </ion-col>
            <ion-col>
                <span>10000</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <span><b>TVA</b></span>
            </ion-col>
            <ion-col>
                <span>18%</span>
            </ion-col>
            <ion-col>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <span><b>Totaux</b></span>
            </ion-col>
            <ion-col>
                <span>852215</span>
            </ion-col>
            <ion-col>
                <span>235222</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <span><b>Total net a payer</b></span>
            </ion-col>
            <ion-col>
                <span><b>852215</b></span>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
