<ion-content>
    <div style="margin-top: 30px;margin-left: 10px">
        <ion-item>
            <h2><b>Suivi de<br>Adama Yade</b></h2>
        </ion-item>
        <ion-row>
            <ion-col>
                <span><b>Visa PAD</b></span>
                <br>
                <span>Pole PAD</span>
            </ion-col>
            <ion-col class="text-right" style="margin-right: 20px">
                <span style="color: green">Validée</span>
            </ion-col>
        </ion-row>
        <hr style="margin-right: 10px">

        <ion-row>
            <ion-col>
                <span><b>Bon à délivrer compagnie</b></span>
                <br>
                <span>Consignataire</span>
            </ion-col>
            <ion-col class="text-right" style="margin-right: 20px">
                <span style="color: yellow">En cours</span>
            </ion-col>
        </ion-row>
        <hr style="margin-right: 10px">

        <ion-row>
            <ion-col>
                <span><b>Bon à livrer</b></span>
                <br>
                <span>Manutentionnaire</span>
            </ion-col>
            <ion-col class="text-right" style="margin-right: 20px">
                <span style="color: green">Validée</span>
            </ion-col>
        </ion-row>
        <hr style="margin-right: 10px">

        <ion-row>
            <ion-col>
                <span><b>Bon à charger</b></span>
                <br>
                <span>Transporteur</span>
            </ion-col>
            <ion-col class="text-right" style="margin-right: 20px">
                <span style="color: red">Rejeté</span>
            </ion-col>
        </ion-row>
        <div style="background: #e7e7e7; margin-right: 25px;margin-left: 10px">
            <span style="margin-left: 10px"><b>Motif du rejet</b></span>
            <p style="margin-left: 10px;">
                bjznkel,s;djklq:skaeq,dslk qdkxk
                bnnnezsdjxwnhjza qs bdsqxbndsb
            </p>
        </div>
    </div>
</ion-content>
